@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .outline-input {
    /* Override focus and focus-visible states */
    @apply focus-visible:outline focus-visible:outline-4 focus-visible:outline-offset-[-2px];
    @apply focus:outline focus:outline-4 focus:outline-offset-[-2px];
  }

  .link {
    @apply text-blue-500 hover:text-blue-700 dark:hover:text-blue-300 underline;
  }

  .form-input {
    @apply border-2 border-stone-500 caret-blue-500 selection:bg-blue-500 selection:text-white bg-stone-100 dark:bg-stone-900 outline-input;
  }

  .button {
    @apply border-2 border-stone-500 bg-gray-100 hover:bg-stone-300 active:bg-stone-500 dark:bg-stone-900 hover:dark:bg-stone-700 active:dark:bg-stone-500 outline-input;
  }
}

:focus-visible, :focus {
  @apply outline-offset-2 outline-2 outline outline-accent;
}

body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}